<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  First name: <input type="text" name="first_name" value="<%= @contact.first_name %>"><br/>
  Last name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
  <input type="submit" />
</form>